<% report.universities.each do |uni| %>
    <h2><%= uni.title %>:</h2>
    <table>
          <tr>
            <td>
              <% uni.information.each do |key, value| %>
                <%= key %>: <%= value %> <br>
              <% end %>
            </td>
          </tr>
    </table>
    <%= column_chart uni.information, height: "400px" %>
<% end %>
<br>
<%= bar_chart report.societies, height: "1000px" %>