<h1>Report vom <%= @report.startdate %> - <%= @report.enddate %></h1><br>

<%= render partial: "piecharts", locals: {report: @report} %>

<%= render partial: "linecharts", locals: {report: @report} %>

<%= render partial: "interests", locals: {report: @report} %>

<%= render partial: "newsletter", locals: {report: @report} %>

<%= render partial: "unis", locals: {report: @report} %>